@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  /* background-image: url(/assets/images/plantilla.jpg);
  background-size: cover; */
  background-color: rgb(31 32 35);
  background-repeat: no-repeat;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, sans-serif;
}


.card {
  margin: 1rem;
  border: 1px solid rgb(35,35,35);
  box-shadow: 8px 5px 5px rgb(80, 78, 78);
  border-radius: 15px;
  /* overflow: auto; */
  height: 950px;
  overflow: hidden;
}
.card__header {
  height: 350px;
  background-color: #fff;
  overflow: hidden;
  /* object-fit: cover; */
}
.card__img {
  height: 350px;
  object-fit:cover;
  object-fit: contain;
  /* height: auto; */
  width: 100%;
  max-width: 100%;
}
.card__img:hover {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}
.card__body {
  padding: 1rem;
  background-color: #e6eaee; 
  overflow: hidden;
}

.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid #ff851b;
  height: 6rem;
  margin-bottom: 1rem;
}
.card__description {
  padding: 1.5rem 0 2rem;
  height: 300px;
  overflow: auto;
  
}

.card__description::-webkit-scrollbar {
  background-image: none;
}

/* ::-webkit-scrollbar-thumb {
  background-image: no;
  border-radius: 2rem;
} */

.card__more {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid black;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: #111d3d;
}
.card__footer {
  /* display: flex;
  justify-content: space-between; */
  padding: 20px;
}
.card__date {
  color: #111d3d;
}
.card__btn-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__btn-compra {
  padding: 1rem 1.5rem;
  background-color: rgb(228, 66, 17);
  color: #fff;
  border-radius: 15px;
}
.card__btn-detalle {
  padding: 1rem 1.5rem;
  background-color: gold;
  color: #fff;
  border-radius: 15px;
}
.card__btn-compra:hover, .card__btn-detalle:hover {
  background-color: #111d3d;
  transition: .3s ease-in-out;
}

.card:hover {
  box-shadow: 12px 10px 12px rgb(80, 78, 78);
  transition: .3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .card {
    height: 900px;
  }
  .card__body {
    font-size: 1.25rem;
  }
  .card__btn-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .card__more {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .card__btn-detalle, .card__btn-compra {
    margin: 0 5px;
  }
  
}
.botton-container {
  position: fixed;
  right: 30px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.whatssap-container__img {
  width: 60px;
}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border: 1px solid rgb(35,35,35);
}

.navbar {
  height: 50px;
  background-color: rgb(35, 35, 35);
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
}
.navbar__menu-label {
  color: #fff;
  height: 42px;
  background-color: #ff851b;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background-color: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__menu-icon {
  height: 2px;
  background-color: #fff;
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: #ff851b;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(206, 199, 186);
}
.navbar__nav-link {
  color: #fff;
  font-size: large;
}
.navbar__nav-link:hover {
  color: rgb(35,35,35);
  transform: scale(1.2);
  transition: .5s ease-in-out;
  border-bottom: 1px solid rgb(35,35,35);
}

.user-navbar {
  margin-left: auto;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 40px;
}
.user-navbar__cart-icon-container {
  color: #ff851b;
  font-size: 1.5rem;
}

.user-navbar__user-avatar:hover, .user-navbar__cart-icon-container:hover {
  transform: scale(1.2);
  transition: .3s ease-in-out;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .user-navbar {
    order: 3;
  }
}
.hidden {
  visibility: none;
}
.alert-dialog {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: gold;
  padding: 2rem 3rem;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.5s, opacity 0.5s linear;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.alert-dialog.show {
  visibility: visible;
  opacity: 1;
}
.alert-dialog.error {
  background-color: red;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}
.footer__column {
  padding: 1rem 1.5rem;
  justify-content: center;
  text-align: center;
}
.footer__contact-item {
  list-style: none;
  padding: 10px 0;
}
.footer__contact-link {
  color: #fff;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__logo {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}
.footer__contact-icon {
  font-size: 1.5rem;
}
.footer__contact-icon--facebook {
  color: #0035bb;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}

.footer__copyright {
  color: #fff;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__column {
    margin: 1rem auto;
    padding: 10px;
  }
  .footer__contact-icon {
    font-size: 30px;
  }
  .media {
    margin-bottom: 50px;
  }

  .footer__logo {
    width: 120px;
    height: 120px;
  }
}  

.main {
  margin-top: 50px;
  padding: 1.5rem 0;
}

.container {
  margin-top: 50px;
}

.form, .register {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: auto;
  padding: 20px 10px 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  object-fit: cover;
  flex-direction: row;
}
.register {
  width: 70%;
}
.form__title { 
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  color: #ff851b;
  text-align: center;
  padding: 14px 0;
}
.form span {   
  color: #fff;
}
.form__label {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: Roboto;
}
.form__input {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
.form__textarea {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
  resize: vertical;
  max-height: 150px;
  min-width: 50px;
}

.btn__submit {
  background-color: #ff851b;
  font-family: Roboto;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.btn__submit:hover {
  background-color: #ff9500;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.iframe, .about-us {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: auto;
  padding: 20px 10px 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  flex-direction: row;
}
.about-us {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.about-us:hover {
  box-shadow: 5px 5px 10px rgb(80, 78, 78), -5px -5px 10px rgb(80, 78, 78);
  transition: .3s ease-in-out;
}

.iframe__title, .about-us__title {
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  color: #ff851b;
  text-align: center;
  padding: 14px 0;
}
.iframe span, .about-us span, .form__title span {
  color: #fff;
}
.iframe.map, .about-us__description {
  overflow: hidden;
  color: #fff;
  font-family: roboto;
}

.register__field {
  color: #fff;
  margin-bottom: 10px;
}

.register__terms-conditions {
  justify-content: space-between;
  color: #fff;
  margin-bottom: 1rem;
}
#id {
  width: 15px;
  height: 15px;
  font-size: 0.5rem;
  margin: 1rem 0.5rem;
  text-align: center;
  color: #fff;
}

#checkbox {
  width: 20px;
  height: 15px;
  margin: 1rem 0.5rem;
}

#bornDateInput {
  background-color: rgb(66, 50, 19);
}

@media screen and (max-width: 750px) {
  #id {
    display: flex;  
  }
}

@media screen and (min-width: 600px) {
  .container .container__divs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .form, .iframe {
    width: 70%;
  }
}
.info {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50%;
  margin: auto;
  padding: 20px 10px 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  flex-direction: row;
}
.info__title {
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  color: #ff851b;
  text-align: center;
  padding: 14px 0;
}
.info span {
  color: #fff;
}

.section-cards__header {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}
.section-cards__title {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-cards__subtitle {
  color: rgb(80, 78, 78);
  font-size: 1rem;
  animation: subtitle 5s steps(55), efect .5s step-end infinite alternate;
}
@keyframes subtitle {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes efect {
  50% {
    border-color: transparent;
  }
}
.section-cards__products-search-container {
  padding: 1rem;
  background-color: #ff851b;
  font-size: 1rem;
  font-weight: 700;
  color: #111d3d;
  font-family: roboto;
  color: #333;
}
.section-cards__products-search-container:hover {
  box-shadow: 12px 10px 12px rgb(80, 78, 78);
  transition: .3s ease-in-out;
}
.section-cards__category {
  color: gold;
  padding: 20px;
}
.section-cards .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.product-search__btn {
  border-radius: 5px;
  background-color: gold;
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .section-cards__title-container {
    padding: 0 1rem;
    margin-left: 10rem;
  }
  .section-cards__header {
    display: flex;
  }
  .section-cards__products-search-container {
    border-radius: 18px;
    margin-left: 8rem;
  }
}/*# sourceMappingURL=main.css.map */