.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border: 1px solid $color-bg-secondary;
}

.navbar {
    height: 50px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    &__logo {
        height: 45px;
    }
    &__menu-label {
        color: $color-text-light;
        // margin-left: auto;
        height: 42px;
        background-color: $color-bg-warning;
        width: 42px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ &__nav-links-container {
        height: calc(100vh - 50px);
    }

    &__menu-btn:checked ~ &__menu-label &__menu-icon {
        background-color: transparent;
        &::after {
            transform: rotate(45deg);
            top: 0;
        }
        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__menu-icon {
        height: 2px;
        background-color: $color-text-light;
        width: 18px;
        position: relative;

        &::after, &::before {
            content: "";
            height: 2px;
            background-color: $color-text-light;
            position: absolute;
            width: 100%;
            transition: all .2s ease-out;
        }
            &::after {
                top: 5px;
            }
            &::before {
                top: -5px;
            }
    }

    &__nav-links-container {
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: $color-bg-warning;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .2s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__nav-item {
        padding: 1.25rem 1rem;

        &:not(:last-child) {
            border-bottom: 2px solid rgb(206, 199, 186);
        }
    }
    &__nav-link {
        color: $color-text-light;
        font-size: large;
    }
    &__nav-link:hover {
        transform: scale(1.2);
        transition: .5s ease-in-out;
        border-bottom: 1px solid $color-bg-secondary;
        color: $color-bg-secondary;
        }
}

.user-navbar {
    margin-left: auto;
    color: $color-text-light;
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem;
    &__user-avatar {
        width: 40px;
    }
    &__cart-icon-container {
        color: $color-bg-warning;
        font-size: 1.5rem;
    }
}   &__user-avatar:hover, &__cart-icon-container:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

@media screen and (min-width: 600px) {
    .navbar {
        &__menu-label, &__menu-btn {
            display: none;
        }
        &__nav-links-container {
            position: static;
            flex-direction: row;
            height: 100% !important;
            width: auto;
        }
    }
    .user-navbar {
        order: 3;
    }
    
}
